In [1]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests


# Import the API key.

from config import g_key

In [2]:
# Store the CSV you saved and created in part one into a DataFrame

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yeppoon,AU,2022-07-07 01:57:19,-23.1333,150.7333,67.78,55,0,9.80
1,1,Ribeira Grande,PT,2022-07-07 01:54:42,38.5167,-28.7000,66.18,81,100,14.79
2,2,Ahipara,NZ,2022-07-07 01:56:31,-35.1667,173.1667,59.65,96,100,11.74
3,3,Cockburn Town,TC,2022-07-07 01:57:19,21.4612,-71.1419,81.81,78,0,22.08
4,4,Port Lincoln,AU,2022-07-07 01:57:19,-34.7333,135.8667,55.98,65,100,11.79

In [3]:
# Configure gmaps to use your Google API key

gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)


# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Cockburn Town,TC,2022-07-07 01:57:19,21.4612,-71.1419,81.81,78,0,22.08
6,6,Sao Felix Do Xingu,BR,2022-07-07 01:57:20,-6.6447,-51.9950,76.30,57,69,0.98
9,9,Hithadhoo,MV,2022-07-07 01:57:21,-0.6000,73.0833,82.06,76,64,10.13
10,10,Vaini,TO,2022-07-07 01:57:21,-21.2000,-175.2000,77.16,69,40,6.91
18,18,Alofi,NU,2022-07-07 01:57:22,-19.0595,-169.9187,78.69,61,75,16.11
23,23,Dingle,PH,2022-07-07 01:57:23,10.9995,122.6711,83.17,79,97,4.47
28,28,Esna,EG,2022-07-07 01:57:25,25.2934,32.5540,86.02,23,0,5.32
34,34,Coralville,US,2022-07-07 01:57:26,41.6764,-91.5805,80.10,94,93,4.29
49,49,Bin Qirdan,TN,2022-07-07 01:58:29,33.1378,11.2197,84.76,34,0,2.59
51,51,Jalu,LY,2022-07-07 01:57:14,29.0331,21.5482,80.17,37,0,7.83

In [11]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [12]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
3        Cockburn Town      TC     81.81  21.4612  -71.1419
6   Sao Felix Do Xingu      BR     76.30  -6.6447  -51.9950
9            Hithadhoo      MV     82.06  -0.6000   73.0833
10               Vaini      TO     77.16 -21.2000 -175.2000
18               Alofi      NU     78.69 -19.0595 -169.9187
23              Dingle      PH     83.17  10.9995  122.6711
28                Esna      EG     86.02  25.2934   32.5540
34          Coralville      US     80.10  41.6764  -91.5805
49          Bin Qirdan      TN     84.76  33.1378   11.2197
51                Jalu      LY     80.17  29.0331   21.5482

In [13]:
# Set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

### Iterate Through hotel_df DataFrame

In [14]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    
    # Add the latitude and longitude to location key for the params dictionary.
    
    params["location"] = f"{lat},{lng}"

    
    # Use the search term: "lodging" and our latitude and longitude.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    
    # Make request and get the JSON data from the search.
    
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Cockburn Town,TC,81.81,21.4612,-71.1419,Osprey Beach Hotel
6,Sao Felix Do Xingu,BR,76.30,-6.6447,-51.9950,Rio Xingu Camping
9,Hithadhoo,MV,82.06,-0.6000,73.0833,Scoop Guest House
10,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
18,Alofi,NU,78.69,-19.0595,-169.9187,Taloa Heights
23,Dingle,PH,83.17,10.9995,122.6711,SEGAYA PROPERTY
28,Esna,EG,86.02,25.2934,32.5540,Orient Star Dahabyia Isna 05 Nights Each Sunday
34,Coralville,US,80.10,41.6764,-91.5805,Heartland Inn
49,Bin Qirdan,TN,84.76,33.1378,11.2197,Hôtel Palace
51,Jalu,LY,80.17,29.0331,21.5482,صاحبة الفخامة

### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [17]:
# Add a heatmap of temperature for the vacation spots.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))